body, h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

#header {
	background-color: rgba(255, 255, 255, .8);
	height: 80px;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
}

#header h1 {
	padding-top: 10px;
}


/* --- */

#feed {}

#feed ul,
#feed li {
	margin: 0;
	padding: 0;
}

#feed .my-list {
	padding-top: 85px;
}

#feed .my-list-item {
	color: rgb(255, 255, 255);
	height: 200px;
	list-style: none;
	padding-bottom: 5px;
	text-align: center;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#feed .my-list-inner {
	background-color: rgba(255, 0, 0, .75);
	height: 100%;
}

#feed .load-more {
	overflow: hidden;
	padding-top: 20px;
	width: 100%;
}

#feed .load-more-link {
	background-color: rgb(0, 0, 0);
	background-image: url('/img/loader@2x.gif');
	background-size: 44px 44px;
	background-position: 20px 20px;
	background-repeat: no-repeat;
	color: rgb(255, 255, 255);
	display: block;
	height: 44px;
	margin: 0 auto;
	padding: 20px;
	text-indent: -1000px;
	width: 44px;
}